* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root { 
    font-size: 62.5%;
  }


body{
    width: 100%;
    background: #E5E5E5;
}  
  header{
    width: 100%;
    height: 9.2rem;
    background:#CF2B2B;
    position: relative;
    position: fixed;
    z-index: 2;

  }

  h1{
    font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 4.4rem;
line-height: 5.5rem;
letter-spacing: -0.012em;

padding-left: 2.1rem;
padding-top: 0.8rem;


 color: #FFFFFF;

  }

  p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 2.1rem;

  color: #FFFFFF;
  
  position: absolute;
  left: 2.1rem;
  top: 5.7rem;

  }

  main{
    width: 100%;
    background: #E5E5E5;
  }

  h3{
    padding-top: 12rem;
    padding-left: 1.9rem;

   

    font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 2.6rem;
line-height: 3.2rem;
letter-spacing: 0.018em;

color: #333333;
  }



  h2{
    font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 2.6rem;
line-height: 3.2rem;
letter-spacing: 0.018em;

color: #333333;

padding-top: 3.1rem;
padding-left: 1.9rem;
padding-bottom: 1.7rem ;
  }

  .pratos{

    display: flex;
    gap: 1.6rem;
    padding-left: 1.9rem ;
    width: 100%;
    overflow: scroll;
    
    padding-top: 1.5rem;
    
  }

  .refeicao{
    background-color: #FFFFFF;
    border-radius: 0.9rem;
    width: 17.2rem;
    height: 21.6rem;
    position: relative;

    
}

  .imgprato img{
    width: 14.4rem;
    height: 8.7rem;
   margin-left: 1.4rem;
   margin-top: 1.8rem;
   margin-right: 1.4rem;
   border-radius: 4px;
}

   .refeicao p3{
    position: absolute;
    left: 1.4rem;
    top: 18.6rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;



   color: #000000;

   }
  

   .refeicao p2{
    position: absolute;
    left: 1.4rem;
    bottom: 4.7rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;

   color: #A6A6A6;
  }

    p1{
    position: absolute;
    left: 1.4rem;
    padding-top: 0.3rem;
  

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    


   color: #000000;
  }

  .bebidas{
    display: flex;
    gap: 1.6rem;
    padding-left: 1.9rem ;
    width: 100%;
    height: 20.2rem;
    overflow: scroll;
    
  }

  .tomar{
    background-color: #FFFFFF;
    border-radius: 0.9rem;
    width: 17.2rem;
    height: 20.2rem;
    position: relative;
  }

  .bebaimg img{
    width: 14.4rem;
    height: 8.7rem;
   margin-left: 1.5rem;
   margin-top: 1.8rem;
   margin-right: 1.3rem;
   border-radius: 4px;
  }

  

 .tomar p2{
    position: absolute;
    left: 1.4rem;
    top: 14rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;

   color: #A6A6A6;
 }

  .tomar p3{
    position: absolute;
    left: 1.4rem;
    top: 17rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;



   color: #000000;

  }

  .sobremesa{
    display: flex;
    gap: 1.6rem;
    padding-left: 1.9rem ;
    width: 100%;
    overflow: scroll;
    padding-bottom: 11rem;
   

  }

  .doce{
    background-color: #FFFFFF;
    border-radius: 0.9rem;
    width: 17.2rem;
    height: 19.7rem;
    position: relative;
  }

  .sobreimg img{
    width: 14.4rem;
    height: 8.7rem;
   margin-left: 1.4rem;
   margin-top: 1.8rem;
   margin-right: 1.4rem;
   border-radius: 4px;
  }

  

  .doce p2{
    position: absolute;
    left: 1.4rem;
    top: 14rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;

   color: #A6A6A6;
  }

  .doce p3{
    position: absolute;
    left: 1.4rem;
    top: 17rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;



   color: #000000;

  }

  footer{
    background-color: #FFFFFF;
    width: 100%;
    height: 9.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
     position: fixed;
     bottom: 0;
   
  }

  .botaoblock{
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 5rem;
    border: none;
    
  }

  p4{
   display: flex;
   justify-content: center;
   padding-right: 2rem;
   padding-top: 0.5rem;
  
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    letter-spacing: 0.018em;
    padding-left: 2rem;

    color: #FFFFFF;

  }

  .fecharped{
    
    width: 364px;
    height: 61px;
    background: #32B72F;
    ;
    border-radius: 5rem;
    border: none;
  }

  .selecionado{

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
   border-radius: 9px;
  }

   .icon{
    
    height: 15.4375px;
     width: 15.4375px;
    position: absolute;
    right: 1.4rem;
    bottom: 1.4rem;
  }
   .display-none{
    display: none;
   }
  
   .confirmacao-fundo{
    z-index: 15;
    background: #FFFFFF ;
    opacity: 90%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    
   }


   .confirma{
     z-index: 16;
     width: 100%;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0
   }

   .confirmado{
    width: 377px;
    height: 353px;
    background: #50D074;
    
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: relative;
   
    margin-top: 25vh ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  
    
   }

   .confirmado h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
     text-align: center;

     padding-top: 2rem;
     padding-bottom: 1rem;

     color: #FFFFFF;

   }

   
    
    
    
    .pedido{ 
      width: 335px;


      display: flex;
      justify-content: space-between;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 2.6rem;
      letter-spacing: 0.018em;
      
      
      padding-left: 4rem;
      padding-top: 1.5rem;

      color: #FFFFFF;
    }
    
    

    .PRECO{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.018em;
      

       color: #FFFFFF;

    }

     h6{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 2.2rem;
     line-height: 2.6rem;
     text-align: center;

     padding-left: 4rem;

     color: #FFFFFF;
    }

    .total-preco{
      width: 335px;
      display: flex;
      justify-content: space-between;

      padding-top: 1.8rem;
    }

    .tudo-certo{
      width: 329px;
      height: 52px;
      
      position: absolute;
      bottom: 5.2rem;
      left: 2.8rem;
      border: none;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: 0.018em;

      color: #50D074;
      

     background: #FFFFFF;
     border-radius: 100px;
    }

    .tudo-certo span{
      padding-left: 4.5rem;
    }

    .cancelar{
      position: absolute;
      bottom: 1.5rem;
      left: 16rem;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.3rem;

      letter-spacing: 0.018em;

      color: #FFFFFF;
    
    }